.techs {
    max-height: 625px;
    min-height: 625px;
    background-color: #272727;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.techs__heading {
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 100;
    margin: 0;
    padding: 100px 0 20px 0;
    border-bottom: 1px solid #ffffff;
}

.techs__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 112px;
}

.techs__description_heading {
    font-size: 50px;
    line-height: 58px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.techs__description_subheading {
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    margin: 0;
    padding: 26px 0 0;
    max-width: 460px;
    text-align: center;
}

.techs__icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
    gap: 14px;
}

.techs__button {
    border: 0;
    border-radius: 10px;
    background-color: #303030;
    color: #ffffff;
    height: 60px;
    font-size: 14px;
    line-height: 1.2em;

}

@media screen and (max-width: 768px) {
    .techs__heading {
        padding: 75px 0 20px 0;
    }
}

@media screen and (max-width: 460px) {
    .techs__heading {
        font-size: 18px;
        padding: 75px 0 20px 0;
    }
    .techs__description_heading {
        font-size: 30px;

    }
}

@media screen and (max-width: 436px) {
    .techs__description {
        padding: 59px 0 42px;
    }
}

@media screen and (max-width: 417px) {
    .techs__heading {
        padding: 50px 0 20px 0;
    }
    .techs__description_subheading {
        font-size: 11px;
    }
}

@media screen and (max-width: 320px) {
    .techs {
        max-height: 651px;
        background-color: #202020;
    }
    .techs__icons {
        grid-template-columns: repeat(2, 84px);
        justify-content: center;
        padding-bottom: 60px;
    }
}