.movieCard {
    width: 270px;
    display: grid;
    padding-bottom: 40px;
    /* text-decoration: none; */
    grid-template-columns: minmax(270px, 270px);
}

.movieCard__img {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 270px;
    height: 151px;
    object-fit: cover;
    object-position: left center;
}

.movieCard__heading {
    font-size: 13px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: 100;
    padding-bottom: 30px;
    margin: 14px 0 0 0;
    max-width: 88%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movieCard__link {
    text-decoration: none;
}

.movieCard__like {
    width: 24px;
    height: 24px;
    align-self: center;
    justify-self: end;
    background-color: #313131;
    border: 0;
    border-radius: 50%;
    background-image: url("../../../images/heart_icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: 0;
    transition: .5s linear;
    margin-top: -120px;
}

.movieCard__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.movieCard__like_red {
    background-image: url("../../../images/red_heart_icon.svg");
}

.movieCard__delete {
    width: 24px;
    height: 24px;
    align-self: center;
    justify-self: end;
    background-color: #313131;
    border: 0;
    border-radius: 50%;
    background-image: url("../../../images/cross_icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: 0;
    transition: .5s linear;
    margin-top: -120px;
}

.movieCard__delete:hover {
    opacity: 0.5;
    cursor: pointer;
}

.movieCard__time {
    font-size: 11px;
    line-height: 1.2em;
    color: #8b8b8b;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    padding-top: 8px;
    border-top: 1px solid #8b8b8b;
}

@media screen and (max-width: 881px) {
    .movieCard {
        width: 339px;
        grid-template-columns: minmax(339px, 339px);
    }
    .movieCard__img {
        width: 339px;
    }
}

@media screen and (max-width: 743px) {
    .movieCard {
        width: 300px;
        grid-template-columns: minmax(300px, 300px);
    }
    .movieCard__img {
        width: 300px;
    }
}

