.promo {
    max-height: 648px;
    min-height: 648px;
    background-color: #073042;
    margin: 0;
    padding-top: 140px;
}

.promo__grid {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: "description image" "button button";
    grid-template-rows: 1fr 1fr;
}

.promo__description {
    display: grid;
    max-width: 640px;
    grid-template-rows: max-content max-content 1fr;
    grid-area: description;
}

.promo__heading {
    font-size: 50px;
    line-height: 58px;
    color: #ffffff;
    font-weight: 100;
    margin: 0;
}

.promo__subheading {
    font-size: 13px;
    line-height: auto;
    color: #ffffff;
    font-weight: 100;
    margin: 0;
    opacity: 80%;
    padding-top: 50px;
    max-width: 310px;
}

.promo__image {
    grid-area: image;
}

.promo__button {
    width: 129px;
    height: 36px;
    margin-top: 200px;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 10px;
    transition: opacity 0.7s linear;
    grid-area: button;
}

.promo__button:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .promo__heading {
        font-size: 4vw;
    }
}

@media screen and (max-width: 770px) {
    .promo {
        padding-top: 100px;
    }
    .promo__description {
        justify-items: center;
    }
    .promo__heading {
        text-align: center;
        max-width: 562px;
        font-size: 40px;
        line-height: 50px;
        padding-top: 20px;
    }
    .promo__subheading {
        text-align: center;
        padding-top: 20px;
    }
    .promo__grid {
        grid-template-rows: max-content;
        grid-template-areas: "image" "description" "button";
        justify-items: center;
        align-items: center;
    }
    .promo__button {
        margin-top: 70px;
    }
}

@media screen and (max-width: 468px) {
    .promo__heading {
        font-size: 7vw;
        line-height: 50px;
    }
    .promo__subheading {
        max-width: 260px;
    }
    .promo__image {
        width: 260px;
        height: 256px;
    }
}

@media screen and (max-width: 330px) {
    .promo {
        padding-top: 80px;
    }
    .promo__heading {
        font-size: 30px;
        line-height: 38px;
        padding-top: 40px;
    }
    .promo__image {
        width: 210px;
        height: 206px;
    }
}